; Hubot systemd service unit file
; Place in e.g. `/etc/systemd/system/hubot.service`, then `systemctl daemon-reload` and `service hubot start`.

[Unit]
Description=Hubot
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/hangops-jobbot
User=root

Restart=always
RestartSec=10

; Configure Hubot environment variables, make sure to use quotes around whitespace as shown below.
Environment=HUBOT_SLACK_TOKEN=XXXXXX HUBOT_LOG_LEVEL="debug" REDIS_URL=redis://127.0.0.1:6379/hangops-jobbot HUBOT_SLACK_BOTNAME=hangops-jobbot Hubot_SLACK_TEAM=hangops Hubot_SLACK_BOTNAME=hangops-jobbot

; "HUBOT_bbb='yyy yyy'"

ExecStart=/srv/hangops-jobbot/bin/hubot --adapter slack
; --owner="Syntax Error <sntxrr+hangops@gmail.com>" --name="hangops-jobbot"

[Install]
WantedBy=multi-user.target
